/**──────────────────────────────────────────────────────────────────────────────┐
 * Estilos globales y utilidades de la app                                       │
 *                                                                               │
 * Incluye:                                                                      │
 *   • Tailwind base, components y utilities                                     │
 *   • Reseteo de html, body y #root (100% ancho/alto, sin margen, font-family)  │
 *   • Optimización de renderizado y antialiasing                                │
 *   • Clases para ocultar scrollbars manteniendo scroll funcional:              │
 *       - .hide-scrollbar                                                       │
 *       - .scroll-hide                                                          │
 *   • Contenedor simulado de móvil: .mobile-frame                               │
 *   • Estilo para el día actual en FullCalendar: .fc-day-today                  │
 *                                                                               │
 * Autor: Ana Castro                                                             │
└───────────────────────────────────────────────────────────────────────────────*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  font-family: "poppins", "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.mobile-frame {
  max-width: 330px;
  width: 100%;
  height: 80%;
  aspect-ratio: 9 / 16;
}

.fc-day-today {
  background-color: rgba(172, 166, 166, 0.428) !important;
}

.scroll-hide::-webkit-scrollbar {
  width: 4px;             
  height: 4px;            
}

.scroll-hide::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); 
  border-radius: 9999px;
}

.scroll-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-hide {
  scrollbar-width: thin;  
  scrollbar-color: rgba(0,0,0,0.3) transparent;
  -webkit-overflow-scrolling: touch;
}

div::-webkit-scrollbar {
  display: none;
}


.fc .fc-toolbar-title {
  color: #f07c7c; 
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.fc .fc-toolbar-title::first-letter {
  text-transform: uppercase; /* la pone en mayúscula */
  color: #f07c7c; /* opcional: color diferente para la inicial */
  font-size: 1.5rem; /* opcional: más grande */
}

.swipe-card {
  touch-action: pan-y; /* permite scroll vertical, pero libera horizontal */
}