@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: unset;    
}

/* Oculta scrollbar en navegadores modernos */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}


